.button {
	background-color: #ffffff;
	border: 0.1em solid #292c33;
	border-radius: 0.3em;
	box-sizing: border-box;
	color: #292c33;
	font-weight: 600;
	height: 100%;
	transition: all 0.3s;
	width: 100%;
}

button:hover {
	background-color: #696969;
	color: #ffffff;
}

button:focus {
  outline: none;
}
